
[MASTER]

ignore-paths=src/tests
ignore=single_file_to_ignore.py

[MESSAGE CONTROL]

disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring,
        unnecessary-lambda,
        redefined-builtin,

[FORMAT]

max-line-length = 120
indent-after-paren = 4
indent-string = "    "

[REFACTORING]

max-nested-blocks = 3

[DESIGN]

max-statements = 23
min-public-methods = 0
